 /* Edit icon */
.padding-edit-icon {
    padding: 15px;
}

/* navbar and sidenav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color: #292a2a;
    z-index: 4;
  }
  .header a {
    color: inherit;
    text-decoration: none;
  }
  .header .navContainer {
    display: flex;
    justify-content: space-between;
    /* padding: 0 15px; */
    /* max-width: 1230px; */
    margin: 0 auto;
  }
  .navToggle {
    display: block;
    background-color: transparent;
    border: none;
    height: 38px;
    width: 38px;
    padding: 8px 8px;
    margin: 10px -8px 10px 0px;
    outline: none;
    cursor: pointer;
    z-index: 5;
  }
  .navToggle.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
  }
  .navToggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .navToggle.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
  }
  .navToggle span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: #292a2a;
    border-radius: 5px;
    transition: all 0.35s cubic-bezier(1, 0.13, 0.35, 1.09);
  }
  .navToggle span:last-child {
    margin-bottom: 0;
  }
  .mainNav {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    /* padding: 58px 15px; */
    z-index: 3;
    transform: translateX(100%);
    transition: transform 0.45s ease-in-out;
    overflow-y: auto;
  }
  .mainNav.open {
    transform: translateX(0%);
  }
  .mainNav .mainNavLink {
    display: block;
    padding: 0.71875rem 0;
    text-transform: uppercase;
    font-size: 16px;
  }
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.5s ease 0.1s;
  }
  .overlay.open {
    opacity: 3;
    width: 100%;
    height: 120%;
  }

  .desktop-active {
    border-bottom: 5px solid #007AFF;
    padding-bottom: 30px;
  }

  .desktop-link {
    color: #007AFF;
  }

  .social-tag {
    color: #007AFF;
  }

  @media(max-width:700px){
    .desktop-nav {
        display: none;
    }
 }
 
 @media(min-width:700px){
     .mobile-nav {
         display: none;
     }
 }